<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.ChangeRecordMapper">
  <resultMap id="BaseResultMap" type="com.example.springboot.domain.ChangeRecord">
    <!--@mbg.generated-->
    <!--@Table change_record-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_log_type" jdbcType="INTEGER" property="businessLogType" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="object_value" jdbcType="VARCHAR" property="objectValue" />
    <result column="data_no" jdbcType="VARCHAR" property="dataNo" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="original_value" jdbcType="VARCHAR" property="originalValue" />
    <result column="modified_value" jdbcType="VARCHAR" property="modifiedValue" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, business_log_type, `module`, object_value, data_no, field_name, original_value, 
    modified_value, created_by, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from change_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from change_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.springboot.domain.ChangeRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into change_record (business_log_type, `module`, object_value, 
      data_no, field_name, original_value, 
      modified_value, created_by, created_time
      )
    values (#{businessLogType,jdbcType=INTEGER}, #{module,jdbcType=VARCHAR}, #{objectValue,jdbcType=VARCHAR}, 
      #{dataNo,jdbcType=VARCHAR}, #{fieldName,jdbcType=VARCHAR}, #{originalValue,jdbcType=VARCHAR}, 
      #{modifiedValue,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.springboot.domain.ChangeRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into change_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessLogType != null">
        business_log_type,
      </if>
      <if test="module != null">
        `module`,
      </if>
      <if test="objectValue != null">
        object_value,
      </if>
      <if test="dataNo != null">
        data_no,
      </if>
      <if test="fieldName != null">
        field_name,
      </if>
      <if test="originalValue != null">
        original_value,
      </if>
      <if test="modifiedValue != null">
        modified_value,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessLogType != null">
        #{businessLogType,jdbcType=INTEGER},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="objectValue != null">
        #{objectValue,jdbcType=VARCHAR},
      </if>
      <if test="dataNo != null">
        #{dataNo,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="originalValue != null">
        #{originalValue,jdbcType=VARCHAR},
      </if>
      <if test="modifiedValue != null">
        #{modifiedValue,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot.domain.ChangeRecord">
    <!--@mbg.generated-->
    update change_record
    <set>
      <if test="businessLogType != null">
        business_log_type = #{businessLogType,jdbcType=INTEGER},
      </if>
      <if test="module != null">
        `module` = #{module,jdbcType=VARCHAR},
      </if>
      <if test="objectValue != null">
        object_value = #{objectValue,jdbcType=VARCHAR},
      </if>
      <if test="dataNo != null">
        data_no = #{dataNo,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="originalValue != null">
        original_value = #{originalValue,jdbcType=VARCHAR},
      </if>
      <if test="modifiedValue != null">
        modified_value = #{modifiedValue,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot.domain.ChangeRecord">
    <!--@mbg.generated-->
    update change_record
    set business_log_type = #{businessLogType,jdbcType=INTEGER},
      `module` = #{module,jdbcType=VARCHAR},
      object_value = #{objectValue,jdbcType=VARCHAR},
      data_no = #{dataNo,jdbcType=VARCHAR},
      field_name = #{fieldName,jdbcType=VARCHAR},
      original_value = #{originalValue,jdbcType=VARCHAR},
      modified_value = #{modifiedValue,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>