<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.ChangeObjectInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.springboot.domain.ChangeObjectInfo">
    <!--@mbg.generated-->
    <!--@Table change_object_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="object_name" jdbcType="VARCHAR" property="objectName" />
    <result column="object_value" jdbcType="VARCHAR" property="objectValue" />
    <result column="key_field" jdbcType="VARCHAR" property="keyField" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="rec_flag" jdbcType="BOOLEAN" property="recFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, object_name, object_value, key_field, `module`, created_by, created_time, modified_by, 
    modified_time, rec_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from change_object_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from change_object_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.springboot.domain.ChangeObjectInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into change_object_info (object_name, object_value, key_field, 
      `module`, created_by, created_time, 
      modified_by, modified_time, rec_flag
      )
    values (#{objectName,jdbcType=VARCHAR}, #{objectValue,jdbcType=VARCHAR}, #{keyField,jdbcType=VARCHAR}, 
      #{module,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, #{recFlag,jdbcType=BOOLEAN}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.springboot.domain.ChangeObjectInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into change_object_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objectName != null">
        object_name,
      </if>
      <if test="objectValue != null">
        object_value,
      </if>
      <if test="keyField != null">
        key_field,
      </if>
      <if test="module != null">
        `module`,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="recFlag != null">
        rec_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objectName != null">
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="objectValue != null">
        #{objectValue,jdbcType=VARCHAR},
      </if>
      <if test="keyField != null">
        #{keyField,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recFlag != null">
        #{recFlag,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot.domain.ChangeObjectInfo">
    <!--@mbg.generated-->
    update change_object_info
    <set>
      <if test="objectName != null">
        object_name = #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="objectValue != null">
        object_value = #{objectValue,jdbcType=VARCHAR},
      </if>
      <if test="keyField != null">
        key_field = #{keyField,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        `module` = #{module,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recFlag != null">
        rec_flag = #{recFlag,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot.domain.ChangeObjectInfo">
    <!--@mbg.generated-->
    update change_object_info
    set object_name = #{objectName,jdbcType=VARCHAR},
      object_value = #{objectValue,jdbcType=VARCHAR},
      key_field = #{keyField,jdbcType=VARCHAR},
      `module` = #{module,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      rec_flag = #{recFlag,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getByObjectValue" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from change_object_info where object_value = #{value} and rec_flag = 1;
  </select>

</mapper>